body {
  background-image: url(https://storage.googleapis.com/pr-newsroom-wp/1/2022/03/Pink_Yellow-Generic-Header-1440x820-1-1440x733.png);
  display: flex;
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

 section {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
} 

section h1 {
  color: black;
  font-weight: 900;
  font-size: 30px;
}

section input {
  width: 100%;
  padding: 3px;
  font-family: 'Open Sans', sans-serif;
}

section form div {
  margin: 5px 10px;
}

.errore {
  font-size: 0.7em;
  color: red;
}

.log_error {
  color: red;
  font-size: 0.8em;
  padding: 2px;
}

#submit {
  border: 0;
  border-radius: 4px;
  margin-top: 10px;
  padding: 5px;
  background-color: darkgray;
  color: black;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
}

#submit:hover {
  background-color: rgb(30, 215, 96);
  color: white;
}